body {
  font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
  font-size: 18px;
  border: 1px solid #000;
  background-color: transparent;
  height: 30px;
  position: absolute;
  text-align: center;
}

body#share input[type=text] {
  border: none;
}

#sheet-container {
  overflow: auto;
}

#sheet {
  width: 100%;
  position: absolute;
  z-index: -1;
}

/**** Fields of Terror ****/

#class {            left: 12%;    margin-top: calc(9% - 30px);      width: 20%;     }
#name {             left: 41%;    margin-top: calc(11% - 30px);     width: 25%;     }
#race {             left: 74%;    margin-top: calc(13% - 30px);     width: 18%;     }
#level {            right: 2.7%;  margin-top: calc(23% - 30px);     width: 2.5%;      }

#int {              left: 8%;     margin-top: calc(37% - 30px);     width: 2.5%;      }
#int_mod {          left: 11.5%;  margin-top: calc(35% - 30px);     width: 3.3%;    }
#int_saving_throw { left: 21.8%;  margin-top: calc(35.5% - 30px);   width: 3%;    }
#wis {              left: 8.2%;   margin-top: calc(51% - 30px);     width: 2.5%;      }
#wis_mod {          left: 11.5%;  margin-top: calc(49% - 30px);     width: 3.3%;    }
#wis_saving_throw { left: 21.8%;  margin-top: calc(49% - 30px);     width: 3%;    }
#char {             left: 8.2%;   margin-top: calc(64.5% - 30px);   width: 2.5%;      }
#char_mod {         left: 11.5%;  margin-top: calc(63% - 30px);     width: 3.3%;    }
#char_saving_throw {left: 21.8%;  margin-top: calc(63% - 30px);     width: 3%;    }

#str {              right: 22.3%;    margin-top: calc(36.5% - 30px);     width: 2%;     }
#str_mod {          right: 17.5%;    margin-top: calc(35% - 30px);     width: 3.3%;     }
#str_saving_throw { right: 7.5%;    margin-top: calc(35% - 30px);     width: 3%;     }
#dex {              right: 22.3%;    margin-top: calc(50% - 30px);     width: 2%;     }
#dex_mod {          right: 17.5%;    margin-top: calc(49% - 30px);     width: 3.3%;     }
#dex_saving_throw { right: 7.5%;    margin-top: calc(49% - 30px);     width: 3%;     }
#con {              right: 22%;    margin-top: calc(64.5% - 30px);     width: 2%;     }
#con_mod {          right: 17.3%;    margin-top: calc(63% - 30px);     width: 3.3%;     }
#con_saving_throw { right: 7.4%;    margin-top: calc(63% - 30px);     width: 3%;     }

#hp_max {           left: 40%;    margin-top: calc(33% - 30px);     width: 6%;     }
#hp_cur {           left: 55%;    margin-top: calc(33% - 30px);     width: 6%;     }
#hp_tmp {           left: 55%;    margin-top: calc(44% - 30px);     width: 6%;     }
#hit_die {          left: 40%;    margin-top: calc(44% - 30px);     width: 6%;     }

#armor_class {      left: 38.5%;    margin-top: calc(60% - 30px);     width: 3%;     }
#initiative {       left: 50%;    margin-top: calc(59% - 30px);     width: 3%;     }
#speed {            left: 61.5%;    margin-top: calc(60% - 30px);     width: 3%;     }


/* Top banner fields should be bigger */
#class, #name, #race {
  font-size: 27px;
}

/* Ability scores should be smaller */
#int, #wis, #char, #str, #dex, #con {
  font-size: 16px;
}

/* HP fields should be bigger */
#hp_max, #hp_cur, #hp_tmp, #hit_die {
  font-size: 40px;
}

button {
  font-size:1rem;
  color: #333;
  background-color: #fff;
  font-weight: bold;
  padding: 1em;
  cursor: pointer;
  border: #333 .125em solid;
  border-radius: 1em;
}

button:hover {
  background-color: #ddffdd;
}

dialog {
  border: none;
  font-size:1.25rem;
  border-radius: 1em;
}

dialog::backdrop {
  background: hsla(100, 15%, 86%, 0.9);
}

dialog h1 {
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 10px;
}

dialog p {
  margin-top: 10px;
}

dialog.share textarea {
  width: 100%;
  height: 100px;
}

.notice {
  display: none;
  border: 1px solid #444;
  border-radius: 3px;
  padding: 10px;
  font-size: 0.9em;
  color: #444;
}

.notice.success {
  background-color: #ddffdd;
}

.notice.fail {
  background-color: #ffdddd;
}

/* Resize buttons on top */
@media all and (max-width: 1160px) {

  button.save, button.share {
    padding: 7px;
    border-radius: 0.7em;
  }
}

/* Resize buttons on top, again */
@media all and (max-width: 840px) {

  button.save, button.share {
    padding: 3px;
    border-radius: 0.4em;
    font-size: 90%;
  }
}


/* Resize buttons on top, again */
@media all and (max-width: 650px) {

  button.save, button.share {
    position: fixed;
    width:30%;
    bottom:0px;
    z-index: 10;
    margin: 10px;

    padding: 15px;
    border-radius: 1em;
  }

  button.save {

  }
  button.share {
    right: 0px;
  }
}

/* Tweak input fields */
@media all and (max-width: 1000px) {

  input[type=text] {
    padding-top: 10px;
    font-size: 18px;
    height: 20px;
    font-size: 16px;
  }

  /* Top banner fields should be bigger */
  #class, #name, #race {
    font-size: 20px;
  }

  /* Ability scores should be smaller */
  #int, #wis, #char, #str, #dex, #con {
    font-size: 13px;
  }

  /* HP fields should be bigger */
  #hp_max, #hp_cur, #hp_tmp, #hit_die {
    font-size: 25px;
  }
}


@media all and (max-width: 600px) {
  input[type=text] {
    font-size: 14px;
  }

  /* Top banner fields should be bigger */
  #class, #name, #race {
    font-size: 16px;
  }

  /* Ability scores should be smaller */
  #int, #wis, #char, #str, #dex, #con {
    font-size: 11px;
  }

  /* HP fields should be bigger */
  #hp_max, #hp_cur, #hp_tmp, #hit_die {
    font-size: 18px;
  }
}
