body {
  font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
  font-size: 18px;
  border: 1px solid #000;
  background-color: transparent;
  height: 30px;
  position: absolute;
  text-align: center;
}

dialog:not([open]) {
  display: none;
}

body#share input[type=text] {
  border: none;
}

#sheet-container {
  overflow: auto;
}

#sheet {
  width: 100%;
  position: absolute;
  z-index: -1;
}

/**** Fields of Terror ****/

:root {
  --saving_throw_width: 4.4%;
  --saving_throw_left: 21%;
  --saving_throw_right: 88.5%;

  --ability_mod_width: 5.2%;
  --ability_mod_left: 10.3%;
  --ability_mod_right: 78%;

  --ability_score_width: 3%;
  --ability_score_left: 7.5%;
  --ability_score_right: 75%;
}

#class {            left: 12%;    margin-top: calc(9% - 30px);      width: 20%;     }
#name {             left: 41%;    margin-top: calc(11% - 30px);     width: 25%;     }
#race {             left: 74%;    margin-top: calc(13% - 30px);     width: 18%;     }
#level {            left: 94%;    margin-top: calc(23% - 30px);     width: 2.5%;    }

#int {              left: var(--ability_score_left);   margin-top: calc(37.3% - 30px);   width: var(--ability_score_width);      }
#wis {              left: var(--ability_score_left);   margin-top: calc(51.4% - 30px);   width: var(--ability_score_width);      }
#char {             left: var(--ability_score_left);   margin-top: calc(65.1% - 30px);   width: var(--ability_score_width);      }

#str {              left: var(--ability_score_right);    margin-top: calc(37% - 30px);     width: var(--ability_score_width)     }
#dex {              left: var(--ability_score_right);    margin-top: calc(51% - 30px);     width: var(--ability_score_width);     }
#con {              left: var(--ability_score_right);    margin-top: calc(65.1% - 30px);   width: var(--ability_score_width);     }

#int_mod {          left: var(--ability_mod_left);  margin-top: calc(35% - 30px);        width: var(--ability_mod_width);    }
#wis_mod {          left: var(--ability_mod_left);  margin-top: calc(49% - 30px);        width: var(--ability_mod_width);    }
#char_mod {         left: var(--ability_mod_left);  margin-top: calc(63% - 30px);        width: var(--ability_mod_width);    }

#str_mod {          left: var(--ability_mod_right);    margin-top: calc(35% - 30px);     width: var(--ability_mod_width);     }
#dex_mod {          left: var(--ability_mod_right);    margin-top: calc(49% - 30px);     width: var(--ability_mod_width);     }
#con_mod {          left: var(--ability_mod_right);    margin-top: calc(63% - 30px);     width: var(--ability_mod_width);     }

#int_saving_throw { left: var(--saving_throw_left);  margin-top: calc(35.5% - 30px);     width: var(--saving_throw_width);    }
#wis_saving_throw { left: var(--saving_throw_left);  margin-top: calc(49.3% - 30px);     width: var(--saving_throw_width);    }
#char_saving_throw {left: var(--saving_throw_left);  margin-top: calc(63.2% - 30px);     width: var(--saving_throw_width);    }

#str_saving_throw { left: var(--saving_throw_right);    margin-top: calc(35.2% - 30px);   width: var(--saving_throw_width);     }
#dex_saving_throw { left: var(--saving_throw_right);    margin-top: calc(49% - 30px);     width: var(--saving_throw_width);     }
#con_saving_throw { left: var(--saving_throw_right);    margin-top: calc(63% - 30px);     width: var(--saving_throw_width);     }

#hp_max {           left: 40%;    margin-top: calc(34% - 30px);       width: 8%;     }
#hp_cur {           left: 55%;    margin-top: calc(34% - 30px);       width: 8%;     }

#hp_tmp {           left: 55%;    margin-top: calc(45% - 30px);       width: 8%;     }
#hit_die {          left: 40%;    margin-top: calc(45% - 30px);       width: 8%;     }

#armor_class {      left: 37.6%;    margin-top: calc(60.5% - 30px);   width: 5%;     }
#initiative {       left: 49.5%;    margin-top: calc(59% - 30px);     width: 4%;     }
#speed {            left: 61.5%;    margin-top: calc(60% - 30px);     width: 3.7%;   }


/* Top banner fields should be bigger */
#class, #name, #race {
  font-size: 27px;
}

/* Ability scores should be smaller */
#int, #wis, #char, #str, #dex, #con {
  font-size: 16px;
}

/* HP fields should be bigger */
#hp_max, #hp_cur, #hp_tmp, #hit_die {
  font-size: 40px;
}

button {
  font-size:1rem;
  color: #333;
  background-color: #fff;
  font-weight: bold;
  padding: 1em;
  cursor: pointer;
  border: #333 .125em solid;
  border-radius: 1em;
}

button:hover {
  background-color: #ddffdd;
}

dialog {
  border: none;
  font-size:1.25rem;
  border-radius: 1em;
}

dialog::backdrop {
  background: hsla(100, 15%, 86%, 0.9);
}

dialog h1 {
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 10px;
}

dialog p {
  margin-top: 10px;
}

dialog.share textarea {
  width: 100%;
  height: 100px;
}

.notice {
  display: none;
  border: 1px solid #444;
  border-radius: 3px;
  padding: 10px;
  font-size: 0.9em;
  color: #444;
}

.notice.success {
  background-color: #ddffdd;
}

.notice.fail {
  background-color: #ffdddd;
}

/* Resize buttons on top */
@media all and (max-width: 1160px) {

  button.open_save, button.open_share {
    padding: 7px;
    border-radius: 0.7em;
  }
}

/* Resize buttons on top, again */
@media all and (max-width: 840px) {

  button.open_save, button.open_share {
    padding: 3px;
    border-radius: 0.4em;
    font-size: 90%;
  }
}


/* Resize buttons on top, again */
@media all and (max-width: 650px) {

  button.open_save, button.open_share {
    position: fixed;
    width:30%;
    bottom:0px;
    z-index: 10;
    margin: 10px;

    padding: 15px;
    border-radius: 1em;
  }

  button.open_share {
    right: 0px;
  }
}

/* Tweak input fields */
@media all and (max-width: 1000px) {

  input[type=text] {
    padding-top: 10px;
    font-size: 18px;
    height: 20px;
    font-size: 16px;
  }

  /* Top banner fields should be bigger */
  #class, #name, #race {
    font-size: 20px;
  }

  /* Ability scores should be smaller */
  #int, #wis, #char, #str, #dex, #con {
    font-size: 13px;
  }

  /* HP fields should be bigger */
  #hp_max, #hp_cur, #hp_tmp, #hit_die {
    font-size: 25px;
  }
}


@media all and (max-width: 650px) {
  input[type=text] {
    font-size: 14px;
    padding-top: 15px;
  }

  /* Top banner fields should be bigger */
  #class, #name, #race {
    font-size: 16px;
  }

  /* Ability scores should be smaller */
  #int, #wis, #char, #str, #dex, #con {
    font-size: 11px;
  }

  /* HP fields should be bigger */
  #hp_max, #hp_cur, #hp_tmp, #hit_die {
    font-size: 18px;
  }
}


@media all and (max-width: 450px) {
  input[type=text] {
    font-size: 11px;
  }
}
